*.tgz
.idea/
dump/
node_modules/
coverage/
.data/

assets/**/*.md
assets/**/*.txt
assets/**/Makefile
assets/**/*LICENSE*
assets/**/*.less
assets/**/test
assets/**/tests
assets/**/less
assets/**/.*
assets/**/src
assets/**/speed
assets/**/example*
assets/**/bootstrap/**/*.html
assets/**/bootstrap/**/templates
assets/vendor/socket.io-client/lib
assets/vendor/socket.io-client/support

formage-test-data*/
