[project]
	description = Bootstraped Admin GUI addon for mongoose, jugglingdb, or just as a form generator
[access "refs/*"]
	owner = group user/Refael Ackermann (refack)
[access "refs/for/refs/*"]
	read = group user/Refael Ackermann (refack)
	push = group user/Refael Ackermann (refack)
	label-Code-Review = -2..+2 group user/Refael Ackermann (refack)
	label-Verified = -1..+1 group user/Refael Ackermann (refack)
	rebase = group user/Refael Ackermann (refack)
	removeReviewer = group user/Refael Ackermann (refack)
	submit = group user/Refael Ackermann (refack)
[access "refs/heads/*"]
	read = group user/Refael Ackermann (refack)
	create = group user/Refael Ackermann (refack)
	push = +force group user/Refael Ackermann (refack)
	pushMerge = group user/Refael Ackermann (refack)
[access "refs/tags/*"]
	push = +force group user/Refael Ackermann (refack)
	pushTag = group user/Refael Ackermann (refack)
	pushSignedTag = group user/Refael Ackermann (refack)
