extends layout

block breadcrumb
    span.divider /
    a(href="#{rootPath}/model/#{collectionName}") #{modelName}
    span.divider /
    | document

block body
    - if (errors)
        p.alert.alert-error Saving failed, fix the following errors and try again
    form#document(enctype="multipart/form-data",method="post").clearfix
        != renderedDocument
        p.submit
            button#saveButton.btn.btn-large.btn-primary(type='submit') Save
            | &nbsp;
            button#cancelButton.btn.btn-large(onclick='go_back()') Cancel
            - if (allowDelete)
                span(style='margin-left:20px;')
                    button#deleteButton.btn.btn-large.btn-danger Delete

block scripts
    script(src="/js/document.js")