extends layout.jade

block nav

block body
    form#login.form-horizontal(role="form",method="post",action="#")
        if (error)
            p.controls
                strong.text-error Wrong username or password.

        .control-group
            label.control-label(for="username") Username
            .controls
                input#username(type="text", name="username")

        .control-group
            label.control-label(for="password") Password
            .controls
                input#password(type="password", name="password")

        .controls
            button#loginButton.btn(type='submit') Login
