extends layout

block nav
block title
    | Formage-Admin

block body
    form.form-horizontal
        .control-group
            label.control-label(for='username') Username
            .controls
                input#username(type='text', name='username')

        .control-group
            label.control-label(for='password') Password
            .controls
                input#password(type='password', name='password')

        .controls
            button#loginButton.btn.btn-large.btn-primary(type='submit',data-loading-text='Wait...') Login

block scripts
    script(src='#{rootPath}/js/login.js')


