header.page-header {
    padding: 20px 30px;
    background: #EEE;
    border-radius: 10px;
}
header h1 {
    font-size: 20px;
    line-height: 20px;
}
header .btn-group {
    margin-top: 5px;
}

h2 {
    text-align: center;
}

ul.models {
    width: 400px;
    margin: 0 auto;
    list-style: none;
}

.table-striped td {
    text-align: center;
}
.counter, .pagination {
    text-align: center;
}
.divider {
    padding: 0 5px;
    color: #CCC;
}
p.submit {
    clear: both;
}