input { width: 300px; }
select { min-width: 314px; }
input[type="file"] {
    width: 200px;
    margin-right: 15px;
}
textarea {
    width: 400px;
    height: 200px;
}
input[type="file"] + input[type=checkbox] {
    margin: 0 10px;
}

p.error {
    width: 100%;
    margin: 0 auto 10px auto;
}

/*
    clearfix
*/
.field:before,
.field:after {
    content:"";
    display:table;
}
.field:after { clear:both; }
.field { zoom:1; } /* For IE 6/7 (trigger hasLayout) */


/*
    field
*/
.field {
    position: relative;
}
.field .field_label {
    float: left;
    width: 150px; min-height: 30px;
    padding: 5px 30px 0 0;
    text-align: right;
    overflow: hidden;
}
.field span.error {
    /*float: right;*/
    position: relative; top: -4px;
    margin-left: 10px;
    padding: 3px 5px;
    color: #B94A48; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #F2DEDE;
    border: 1px solid #FBEED5;
    border-radius: 4px;
}


/*
    widgets
*/
.nf_widget {
    margin: 0 0 10px 180px;
}
.nf_add {
    margin-bottom: 10px;
}
.select2-container {
    min-width: 314px;
}
.nf_datepicker {
    width: 273px;
}
.input-append {
    float: left;
}
.input-append + span.error {
    top: 6px;
}
.nf_widget + span.error,
.field textarea + span.error {
    position: absolute;
    top: 35px; left: 20px;
}



/*
    fieldset
*/

.nf_fieldset {
    clear: both;
    margin: 0 0 15px 180px;
    padding: 20px 15px 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: white;
    border-radius: 3px;
    position: relative;
    box-shadow: #eee 0 0 5px 0;
    -webkit-transition: box-shadow 200ms, border 200ms;
}
.nf_fieldset > div {
    display: none;
}
.nf_fieldset.closed {
    border-color: white;
    box-shadow: none;
}
.nf_fieldset.closed,
.nf_fieldset > i,
.nf_fieldset > h2 {
    cursor: pointer;
}
.nf_fieldset:hover {
    box-shadow: #bbb 0 0 6px 0;
}
.nf_fieldset > h2 {
    font-size: 20px;
    text-align: right;
    width: 150px;
    position: absolute;
    margin: -21px 0 0 -180px;
    word-break: break-all;
    line-height: 1.5em;
}
.nf_fieldset .field {
    overflow: hidden;
}
.nf_fieldset > i {
    position: absolute; top: 5px; left: 5px;
}
.nf_fieldset .nf_fieldset .nf_fieldset input,
.nf_fieldset .nf_fieldset .nf_fieldset textarea,
.nf_fieldset .nf_fieldset .nf_fieldset select {
    width: 150px;
}



/*
    list field
*/
.nf_listfield_container > .field_label {
    font-size: 20px;
    font-weight: bold;
}
.nf_listfield_container > span.error {
    display: none;
}
.nf_hidden_template {
    display: none;
}
.nf_listfield {
    padding-left: 180px;
}
.nf_listfield ul {
    margin: 0;
}
.nf_listfield li {
    /*clear: both;*/
    display: block;
    list-style: none;

    margin-bottom: 10px;
    padding: 15px 5px 0 5px;
    border: 1px solid #ddd;
    background: #F7F7F9;
    border-radius: 2px;
    -webkit-transition: background 1s;

    position: relative;
}
.nf_listfield li.new_li {
    background-color: #f6f7d0;
}
.nf_listfield_delete {
    cursor: pointer;
}
.nf_listfield_delete, .nf_listfield_drag, .nf_listfield_append {
    position: absolute; right: 5px; top: 5px;
    padding: 5px;
    border: 0;
    background: transparent;
}
.nf_listfield_drag {
    right: 25px;
    cursor: move;
}

/*
    Auto Complete
*/
.ui-combobox {
}

.ui-combobox input {
    float: left;
    padding: 5px;
}

.ui-combobox a {
    float: left;
    height: 30px;
    margin-left: -1px;
}
.select2-result-label {
    min-height: 1em;
}

/*
    images
*/
.field a img {
    margin-bottom: 9px;
}