/*
    header
*/
header .navbar-inner {
    padding: 20px 0;
    margin-bottom: 20px;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: none !important;
}
header.page-header {
    padding: 20px 30px;
    background: #EEE;
    border-radius: 10px;
}
header h1 {
    font-size: 20px;
    line-height: 20px;
}
header .btn-group {
    margin-top: 5px;
}
.divider {
    padding: 0 5px;
    color: #CCC;
}
h2 {
    text-align: center;
}

/*
    footer
*/
.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    border-top: 1px solid #e5e5e5;
}


/*
    bootstrap misc
*/
h3 [class^='icon-'],
h2 [class^='icon-'] {
    vertical-align: baseline;
    margin-right: 3px;
}


/*
    model list
*/
ul.models {
    width: 500px;
    margin: 0 auto;
    list-style: none;
}
.table-striped td {
    text-align: center;
}
.counter, .pagination {
    text-align: center;
}
a h3 { color: black; }


/*
    document list
*/
#actions {
    margin-bottom: 0;
}
.center {
    text-align: center !important;
}
#filters {
    box-sizing: border-box;
}
#filters h3 {
    margin-top: 0;
}
#filters ul {
    list-style: none;
}
td.picture {
    text-align: center;
}


/*
    sortable
*/
.list-drag {
    display: inline-block;
    padding: 5px;
}
.ui-sortable-helper {
    border: 0 1px 1px 0 solid #DDD;
    background: whiteSmoke;
}
tr.sortable-placeholder {
    height: 47px;
    overflow: hidden;
}
tr.sortable-placeholder:before {
    position: absolute;
    content: '';
    width: 940px; height: 1px;
    border-top: 1px solid #DDD;
}
.span9 tr.sortable-placeholder:before {
    width: 700px;
}
#reorder {
    margin-right: 20px;
    margin-left: 0;
}


/*
    form
*/
p.submit {
    clear: both;
    padding-top: 30px;
    text-align: center;
}
p.submit button[type=submit] {
    width: 160px;
}
p.alert-error {
    margin: -20px 0 30px 0;
}