.container { width: 1200px; }
.field input, .field textarea { width: 400px; }
.field textarea { height: 100px; }
.nf_fieldset input[type="checkbox"], input[type="radio"] {
    width: 1em;
}
.nf_fieldset select { min-width: 314px; }
.nf_fieldset input[type="file"] {
    width: 200px;
    margin-right: 15px;
}
.nf_fieldset textarea {
    width: 400px;
    height: 200px;
}
.nf_fieldset input[type="file"] + input[type=checkbox] {
    margin: 0 10px;
}

.nf_fieldset p.error {
    width: 100%;
    margin: 0 auto 10px auto;
}

.field input, .field select, .field textarea {
    margin: 2px 0 10px;
}



/*
    clearfix
*/
.field:before,
.field:after {
    content: "";
    display: table;
}
.field:after { clear: both; }
.field { zoom: 1; }
/* For IE 6/7 (trigger hasLayout) */

/*
    field
*/
.field {
    position: relative;
}
.field .field_label {
    float: left;
    width: 100px;
    min-height: 30px;
    padding: 5px 15px 0 0;
    text-align: right;
    overflow: hidden;
    margin-top: -4px;
}
.field span.error {
    /*float: right;*/
    position: relative; top: -4px;
    margin-left: 10px;
    padding: 3px 5px;
    color: #B94A48; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #F2DEDE;
    border: 1px solid #FBEED5;
    border-radius: 4px;
}

/*
    widgets
*/
.nf_widget {
    margin: 0 0 10px 115px;
}
.nf_add {
    margin-bottom: 10px;
}
.select2-container {
    min-width: 314px;
}
.input-append {
    float: left;
}
.input-append + span.error {
    top: 6px;
}
.nf_widget + span.error,
.field textarea + span.error {
    position: absolute;
    top: 35px; left: 20px;
}

/*
    fieldset
*/

.nf_fieldset, .nf_listfield_container {
    clear: both;
    margin: 0 0 15px 115px;
    padding: 20px 20px 5px;
    -webkit-transition: box-shadow .2s, border .2s;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: #eee 0 0 5px 0;
    min-width: 585px;
}
.nf_listfield_container {
    min-height: 30px;
    background: white;
}

.nf_fieldset {
    box-sizing: border-box;
    background: white;
    min-height: 30px;
}

.nf_fieldset > div, .nf_listfield_container > div {
    display: none;
}

.nf_fieldset.closed,
.nf_fieldset > i,
.nf_fieldset > h2,
.nf_listfield_container.closed,
.nf_listfield_container > i,
.nf_listfield_container > label {
    cursor: pointer;
}
.nf_fieldset.closed:hover,
.nf_listfield_container.closed:hover {
    box-shadow: #bbb 0 0 6px 0;
}
.nf_fieldset > h2,
.nf_listfield_container > label {
    font-size: 20px;
    text-align: right;
    width: 150px;
    position: absolute;
    margin: -21px 0 0 -145px;
    word-break: break-all;
    line-height: 1.5em;
}
.nf_fieldset > h2 {
    margin: -20px 0 0 -185px;
}

.nf_fieldset .field {
    /*overflow: hidden;*/
}
.nf_fieldset > i, .nf_listfield_container > i {
    position: absolute; top: 5px; left: 5px;
}

/*
    list field
*/
.nf_listfield_container > .field_label {
    font-size: 20px;
    font-weight: bold;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -25px;
    margin-left: -135px;
}
.nf_hidden_template {
    display: none;
}
.nf_listfield {
    /*margin-top: 4px;*/
}
.nf_listfield ul {
    margin: 0;
}
.nf_listfield li {
    display: block;
    list-style: none;
    margin-bottom: 10px;
    padding: 10px 10px 0;
    border: 1px solid #ddd;
    background: #F7F7F9;
    border-radius: 2px;
    -webkit-transition: background 1s;
    position: relative;
}
.nf_listfield li.new_li {
    background-color: #f6f7d0;
}
.nf_listfield_delete {
    cursor: pointer;
}
.nf_listfield_delete, .nf_listfield_drag, .nf_listfield_append {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 2px;
    border: 0;
    background: transparent;
}

.nf_listfield_drag {
    right: 20px;
    cursor: move;
}
.nf_listfield_container > .list_summary {
    position: static;
    font-size: 14px;
    margin: -5px 0 0 10px;
    text-align: left;
    display: inline-block;
}
.nf_listfield_container.closed > .list_summary {
    /*height: 30px;*/
}
/*
    Auto Complete
*/
.ui-combobox {
}
.ui-combobox input {
    float: left;
    padding: 5px;
}
.ui-combobox a {
    float: left;
    height: 30px;
    margin-left: -1px;
}
.select2-result-label {
    min-height: 1em;
}

/*
    images
*/
.field a img {
    margin-bottom: 9px;
}

.subCollection {
    font-size: 20px;
    line-height: 30px;
    float: left;
    clear: left;
}


.field input.file-clear {
    width: 1em;
}

.nf_listfield .list_summary {
    display: inline;
    margin: 1em;
}

.nf_listfield_container.closed {
    min-width: 372px;
    width: 372px;
    min-height: 6px;
}

/* indicates a link to a new window */
a[target='_blank'] {
    color: forestgreen;
}

#filters ul.nav-list {
    padding: 0;
}


#filters input.literal {
    width:140px;
}

.file-link {
    margin: 0 5px;
}

.thumb-picker {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: #eee 0 0 2px 0;
}


.th-medium {
    width: 100px;
}

.th-slim {
    width: 85px;
    text-align: center;
}

.th-superslim {
    width: 60px;
    text-align: center;
}
