!!! 5
html(lang='en')
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title!= pageTitle
    link(rel='stylesheet', href='/css/960.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='/css/template.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='/css/colour.css', type='text/css', media='screen', charset='utf-8')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js');
  body
    h1#head Mongoose-Admin
    div#content.container_16.clearfix
      div.grid_16!= body
    div#foot
      a(href='http://mongoose-admin.com') Mongoose-Admin

