<html>
<head>
    <title>Spilon Admin</title>
</head>
<body>
<% if(status == 'done' ) { %>
    Saved
<% } %>
<form method='POST' action='<%= action %>'>
    <input type="hidden" name='_method' value='<%= method %>'/>
