
<h1></h1>
<p>Welcome to admin side</p>
        <table>
           
<% for(var i=0; i<resources.length; i++) { %>
   <tr>
       <td>
           <a href="<%= resources[i]%>/" ><%= resources[i]%></a>
       </td>
   </tr>
<% } %>
        </table>
